@media print{
.prescriptionTemplate{
    margin: 0px 80px 0px 80px; 
}
  @media (max-width: 768px) {
    .doctorDetailsContainer, 
    .medicineContainer, 
    .patientDetailsContainer {
      display: flex; 
      flex-direction: column; 
      padding: 5px; 
    }
  }
}

.doctorDetailsContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.medicineContainer{
    /* min-height: 80vh; */
}